* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #caf0f8;
}

.main-body {
  display: grid;
  margin: 20rem auto;
  width: fit-content;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 0.8rem;
  row-gap: 0.8rem;
  justify-content: space-between;
  background-color: #00b4d8;
  border: 1px solid #03045e;
  padding: 1.2rem;
  border-radius: 0.4rem;
  width: 40rem;
}

.btn {
  height: 4.4rem;
  width: 6.4rem;
}

.display {
  grid-column: 1/-2;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #caf0f8;
  border-radius: 0.2rem;
  padding: 1.2rem;
  justify-content: left;
  font-size: 2.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.btn-clear {
  grid-column: -2/-1;
  grid-row: 1/2;
  height: 100%;
}

.btn-equals {
  grid-column: -2/-1;
  grid-row: 2/-1;
  height: 100%;
}
